{% extends "adminhome.html" %}
{% block adminhome %}
    <h1 align="center"style="color:cyan">View User Approval</h1>
    <table align="center"border="2"style="background-color: darkseagreen">
        <tr style="background-color: khaki">
           <th>EMPLOYE_ID</th>
           <th>USER NAME</th>
           <th>PASSWORD</th>
           <th>ADDRESS</th>
           <th>EMAIL</th>
           <th>CONTACT</th>
           <th>DOB</th>
           <th>COMPANY_NAME</th>
           <th>ACCEPT</th>
           <th>REJECT</th>

        </tr>
        {% for x in rm %}
            <tr>
            <td>{{ x.idno }}</td>
            <td>{{ x.name }}</td>
            <td>{{ x.pas }}</td>
            <td>{{ x.address }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.con}}</td>
            <td>{{ x.dob }}</td>
            <td>{{ x.companynam }}</td>
            <td><a href="{% url 'accept' %}?rno={{ x.idno }}">yes</a > </td>
                <td><a href="{% url 'reject' %}?rno={{ x.idno }}">yes</a> </td>

        </tr>
        {% endfor %}

    </table>

{% endblock %}