{% extends "common.html" %}
{% block common %}
      <form action="{% url 'registeruser' %}"method="post">
          {% csrf_token %}
          <table align="center" border="0"style="background-color: darkturquoise"width="600">

        <tr>
            <td align="center"style="background-color: greenyellow;color: red;font-size: 30px"colspan="3">
                New User Registration
            </td>
        </tr>
        <tr>
            <td style="font-size: 15px;color: deeppink"colspan="3">IDNO:{{ rf.idno }}</td>
            <td>{{ rf.idno.errors }}</td>
        </tr>
        <tr>
            <td style="font-size: 15px;color: deeppink"colspan="3">USER NAME:{{ rf.name }}</td>
            <td>{{ rf.name.errors }}</td>
        </tr>
        <tr>
            <td style="font-size: 15px;color: deeppink"colspan="3">PASSWORD:{{ rf.pas }}</td>
            <td>{{ rf.pas.errors }}</td>
        </tr>
        <tr>
            <td style="font-size: 15px;color: deeppink"colspan="3">Address:{{ rf.address }}</td>
            <td>{{ rf.address.errors }}</td>
        </tr>
        <tr>
            <td style="font-size: 15px;color: deeppink"colspan="3">EMAIL:{{ rf.email }}</td>
            <td>{{ rf.email.errors }}</td>
        </tr>
        <tr>
            <td style="font-size: 15px;color: deeppink"colspan="3">CONTACT NO:{{ rf.con }}</td>
            <td>{{ rf.con.errors }}</td>
        </tr>
        <tr>
            <td style="font-size: 15px;color: deeppink">Date Of Birth:{{ rf.dob }}</td>
            <td>{{ rf.dob.errors }}</td>
            <td style="color:yellow">{{ rf.dob.help_text }}</td>
        </tr>
        <tr>
            <td style="font-size: 15px;color: deeppink"colspan="3">Compny Name:{{ rf.companynam }}</td>
            <td>{{ rf.companynam.errors }}</td>
        </tr>
        <tr>
            <td align="center"><button type="submit" class="btn btn-danger">Register</button></td>

            <td align="center"><a href="{% url "index" %}" class="btn btn-danger">Clear</a></td>
        </tr>
          </table>
      </form>
    {% for x in messages %}
        <h2 align="center"style="color: darkorange">{{ x }}</h2>
    {% endfor %}
{% endblock %}