{% extends "user.html" %}
{% block user %}
    <h1 align="center"style="color: red">Add User Technical</h1>

    <table align="center"style="background-color: pink ">
    <form action="{% url 'technicaladd' %}"method="post">
        {% csrf_token %}
        <tr>
            <td>User Name:{{ tf.name }}</td>
            <td>{{ tf.name.errors }}</td>
        </tr>
        <tr>
            <td>Technology:{{ tf.technology }}</td>
            <td>{{ tf.technology.errors }}</td>
        </tr>
        <tr>
            <td>Description:{{ tf.description }}</td>
            <td>{{ tf.description.errors }}</td>
        </tr>
        <tr>
            <td>Contact No:{{ tf.contactno }}{{ tf.contactno.help_text }}</td>
            <td>{{ tf.contactno.errors }}</td>
        </tr>
        <tr>
            <td align="center"><button type="submit" class="btn btn-danger">Add Technologies</button></td>
            <td align="center"><a href="{% url 'index' %}" class="btn btn-danger">Clear</a></td>
        </tr>
    </form>
    </table>

    {% for x in messages %}
        <h3 align="center"style="color: aqua">{{ x }}</h3>
    {% endfor %}
{% endblock %}