{% extends "adminhome.html" %}
{% block adminhome %}
    <h1 align="center"style="color:deeppink">View User Work Experience</h1>
    <table align="center"border="2"style="background-color: darkseagreen">
        <tr style="background-color: khaki">
            <th>USER NAME</th>
            <th>TECHNOLOGY</th>
            <th>WORK EXPERIENCE:</th>
            <th>DESCRIPTION</th>
            <th>CONTACT NO</th>
        </tr>
        {% for x in wm %}
            <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.technology }}</td>
            <td>{{ x.workexperience }}</td>
            <td>{{ x.description }}</td>
            <td>{{ x.contactno }}</td>

        </tr>
        {% endfor %}

    </table>

{% endblock %}