{% extends "adminhome.html" %}
{% block adminhome %}
    <h1 align="center"style="color:cyan">View User Celebrations</h1>
    <table align="center"border="2"style="background-color: papayawhip">
        <tr style="background-color: khaki">
            <th>NAME</th>
            <th>ADDRESS</th>
            <th>CONTACT_NO</th>
            <th>EMAIL</th>
            <th>DATE OF BIRTH</th>


        </tr>
        {% for x in cm %}
            <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.address }}</td>
            <td>{{ x.contactno }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.dob }}</td>

        </tr>
        {% endfor %}

    </table>

{% endblock %}